@import url("var_old.css");

#page_content {
    padding-right: 15%;
    padding-left: 15%;
}

.page_section_title {
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
}

/*
ABOUT SECTION
*/
#profile_pic {
    border-radius: 100px;
    width: 100%;
}

.about_table_left {
    width: 33%;
}

.about_table_right {
    width: 67%;
    vertical-align: top;
    padding-left: 50px;
}

#about_stats {
    width: 100%;
}

#about_stats td {
    width: 50%;
    vertical-align: top;
}

.about_stat_item {
    display: flex;
    align-items: center;
}

/*
SKILLS SECTION
*/
#skill_intro_text {
    text-align: center;
}

.skill_label {
    font-weight: bold;
    text-transform: uppercase;
}

.skill_table {
    width: 100%;
}

.skill_table td {
    width: 50%;
    padding-right: 25px;
}

.skill_bar_container {
    background-color: #e3e3e3;
    width: 100%;
}

.skill_bar {
    background-color: var(--button);
    height: 10px;
}

/*
RESUME SECTION
*/
#resume_intro_text {
    text-align: center;
}

#resume_table {
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#resume_table td {
    width: 50%;
    padding-right: 20px;
    vertical-align: top;
}

.resume_item {
    padding: 0 0 10px 20px;
    margin-top: -2px;
    margin-bottom: -22px;
    border-left: 2px solid var(--button);
    position: relative;
}

.resume_item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -11px;
    top: 0;
    background: var(--background);
    border: 2px solid var(--headline);
}

.resume_item_title {
    text-transform: uppercase;
    color: var(--headline);
    margin-bottom: -10px;
}

.item_time_period {
    background-color: #e3e3e3;
    color: black;
    display: inline-block;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: -25px;
}

.resume_item_text {
}

.resume_category_title {
    color: var(--sub_headline);
    margin-top: 40px;
}