:root {
    /*Elements*/
    --background: #fffffe;
    --headline: #094067;
    --sub_headline: #5f6c7b;
    --paragraph: #5f6c7b;
    --button: #3da9fc;
    --button_border: #3087c9;
    --button_text: #fffffe;
    --button_hover: #3087c9;

    /*Illustrations*/
    --stroke: #094067;
    --main: #fffffe;
    --highlight: #3da9fc;
    --secondary: #90b4ce;
    --tertiary: #ef4565;

    /*Typeface & Font*/
    --typeface: Lato, sans-serif;

    /*Horizontal Rule*/
    --hr_colour: #3da9fc;
}