button {
    background-color: var(--button);
    color: var(--button_text);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid var(--button_hover);
    font-family: var(--typeface);
}

button:hover {
    background-color: var(--button_hover);
}

.button-secondary {
    background-color: transparent;
    border: 1px solid var(--button);
}

.button-secondary:hover {
    background-color: var(--button);
}