header {
}

#header-top-bar {
    -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
    -moz-box-shadow: 3px 3px 10px 3px #dddddd;
    box-shadow: 3px 3px 10px 3px #dddddd;
    min-height: 50px;
    margin: 0 0 20px 0;
    padding: 10px 25px 10px 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    background-color: var(--background);
}

#header-menu-icon {
    width: 30px;
    cursor: pointer;
}

#header-site-logo {
    height: 33px;
    cursor: pointer;
}

#header-title-text {
    margin: 0;
    padding: 0;
}

#header-right-items-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3px;
}

.social-icon {
    width: 35px;
}

#header-side-menu-container {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    margin: -20px 0 0 0;
    background-color: rgba(0, 0, 0, 0.1);
    transition: visibility 0s, opacity .1s linear;
}

#header-side-menu {
    background-color: var(--menu_background);
    box-sizing: border-box;
    width: 300px;
    height: 100%;
    padding: 0;
}

#header-menu-options-container {
    display: flex;
    flex-direction: column;
}

.header-menu-option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 25px 10px 25px;
    border: 0;
    border-bottom: solid 1px #2E2E2E;
}

.header-menu-option:last-child {
    border-bottom: 0;
}

.header-menu-option p {
    margin: 0;
    padding: 0;
}

.header-menu-option img {
    width: 25px;
    margin-left: auto;
}