:root {
    /*Colours*/
    --background: #fcfcfc;
    --menu_background: #f5f5f5;
    --headline: #181818;
    --sub_headline: #2E2E2E;
    --paragraph: #2E2E2E;
    --button: #f59b00;
    --button_hover: #e39000;
    --button_text: #FFFFFE;

    /*Typeface*/
    --typeface: Lato, sans-serif;
}